/* Importation du fichier fontfaces.css */
@import "fontfaces.css";

/* Styles pour l'élément HTML et le corps de la page */
html, body {
  margin: 0;
  padding: 0;  
  overflow-x: hidden; /* Empêche le défilement horizontal */
  background-color: #F4F5F5;
}

header {
  position: relative;
  display: flex; /* Utilisation de flexbox pour le layout */
  align-items: center; /* Alignement vertical au centre */
  color: white;
  padding: 40px;
  height: 130px;
  /* Pour centrer le bandeau horizontalement */
}

/* Styles pour l'image de fond de l'en-tête */

.fond-head{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130px;
  background: url('/css/icons/img_fd_plan.jpg') no-repeat; /* Image de fond */
  background-size: cover; /* Taille de l'image de fond */
}

.color-head{
  position: absolute;
  background-color: #333;
  width: 100vw;
  height: 130px;
  opacity: 0.75;
}

.search-head{
  z-index: 1;
}

.text-head{
  width: 100vw;
  display: flex;
}

.logo img {
  width: 100px; /* Ajuster selon la taille de votre logo */
  height: auto;
  border-radius: 5px;
  color: #e5e5e5;
  margin-left: 20%;
}

.header-main {
  margin-left: 3%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1; /* Le contenu principal prend tout l'espace disponible */
}

header h1 {
  margin-right: 10px; /* Espace entre le titre et la barre de recherche */
  margin-left: 10px;
  font-size: 30px; /* Taille de police augmentée */
  font-weight: bold;
  text-align: center; /* Centrer le texte horizontalement */

}

#search-bar {
  width: 600px; /* Augmentation de la longueur de la barre de recherche */
  padding: 15px;
  color: #333;
  border: 0px solid #555;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  margin-left: auto; /* Déplacer la barre de recherche vers la droite */
}

/* Styles pour l'élément de chargement */
.loader {
    background-color: white; /* Couleur de fond */
    cursor: wait; /* Curseur en mode attente */
    height: 100%; /* Hauteur de 100% de la fenêtre */
    left: 0; /* Positionnement à gauche */
    position: fixed; /* Position fixe */
    top: 0; /* Positionnement en haut */
    width: 100%; /* Largeur de 100% de la fenêtre */
    z-index: 999999; /* Indice de positionnement */
}

/* Styles pour l'image de chargement */
#loader-img {
    position: absolute; /* Position absolue */
    left: 50%; /* Décalage à 50% de la largeur de l'élément parent */
    top: 50%; /* Décalage à 50% de la hauteur de l'élément parent */
    width: 30px; /* Largeur */
    height: 30px; /* Hauteur */
    margin-left: -15px; /* Décalage de la moitié de la largeur */
    margin-top: -15px; /* Décalage de la moitié de la hauteur */
}

/* Styles pour le texte du chargement */
.loader h1 {
    position: absolute; /* Position absolue */
    background: none; /* Fond transparent */
    border: none; /* Pas de bordure */
    color: #45739B; /* Couleur du texte */
    font-size: 15px; /* Taille de police */
    top: 60%; /* Positionnement vertical */
    left: 50%; /* Positionnement horizontal */
    font-family: "Open Sans", sans-serif; /* Police de caractère */
    font-variant: small-caps; /* Variantes de police */
    font-weight: 700; /* Poids de la police */
    height: 30px; /* Hauteur */
    width: 200px; /* Largeur */
    margin-top: -15px; /* Décalage vertical */
    margin-left: -100px; /* Décalage horizontal */
    text-align: center; /* Alignement du texte */
}

/* Styles pour les liens */
a {
    color: #073763; /* Couleur du lien */
}

/* Styles pour les liens au focus ou au survol */
a:focus,
a:hover {
    color: #073763; /* Couleur du lien au focus ou au survol */
}

/* Styles pour le conteneur d'en-tête */
.header-container {
    height: 108px; /* Hauteur */
    background-color: #000; /* Couleur de fond */
    display: table-cell; /* Affichage en tant que cellule de tableau */
    vertical-align: middle; /* Alignement vertical */
    width: 100vw; /* Largeur de 100% de la fenêtre */
    position: relative; /* Position relative */
}

/* Styles pour le contenu de l'en-tête */
.header-container .header-content {
    position: absolute; /* Position absolue */
    top: 0; /* Positionnement en haut */
    width: 100%; /* Largeur de 100% */
}

/* Styles pour le logo de la région */
.header-container .region-logo {
    position: relative; /* Position relative */
    display: inline-block; /* Affichage en ligne */
}

/* Styles pour l'image du logo */
.header-container .region-logo img.logo {
    height: 80px; /* Hauteur */
    max-height: 80px; /* Hauteur maximale */
    float: right; /* Alignement à droite */
    margin-top: 14px; /* Marge supérieure */
}

/* Styles pour le nom du site */
.header-container .region-right-header {
    height: 108px; /* Hauteur */
}

h1.sitename {
    transition: opacity 0.5s, height 0.5s; /* Transition d'opacité et de hauteur */
    font-family: "Ubuntu"; /* Police de caractère */
    font-size: 30px; /* Taille de police */
    font-weight: 300; /* Poids de la police */
    text-transform: uppercase; /* Transformation en majuscules */
    text-align: left; /* Alignement à gauche */
    color: #fff; /* Couleur du texte */
    margin: auto; /* Marge automatique */
    vertical-align: middle; /* Alignement vertical */
    position: absolute; /* Position absolue */
    top: 50%; /* Positionnement vertical */
    transform: translateY(-50%); /* Décalage vertical */
}

/* Styles pour le conteneur principal */
#wrapper {
    background-color: #F4F5F5; /* Couleur de fond */
    position: relative;
}

/* Styles pour la zone de la page */
#page-wrapper {
    padding: 0; /* Rembourrage */
    margin-left: 250px; /* Marge à gauche */
    background-color: #F4F5F5; /* Couleur de fond */
}

/* Styles pour le conteneur fluide */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

/* Styles pour la carte */
#map {
    position: relative; /* Position relative */
    margin: 0; /* Marge */
    padding: 0; /* Rembourrage */
    z-index: 1; /* Indice de positionnement */
    height: 80vh; /* Hauteur de 80% de la fenêtre */
}

/* Styles pour les boutons dans maplibregl */
.maplibregl-ctrl > button {
    height: 33px; /* Hauteur */
    width: 33px; /* Largeur */
    background-color: #fff; /* Couleur de fond */
    border: 1px solid #e5e5e5; /* Bordure */
    border-radius: 0; /* Rayon de bordure */
    background-size: 40%; /* Taille de l'arrière-plan */
    background-repeat: no-repeat; /* Pas de répétition de l'arrière-plan */
    background-position: center; /* Position de l'arrière-plan */
}
/* Styles pour le groupe de contrôles maplibregl */
.maplibregl-ctrl-group {
  border-radius: 0; /* Rayon de bordure */
  box-shadow: none; /* Pas d'ombre */
}

/* Styles pour les boutons dans le groupe de contrôles maplibregl */
.maplibregl-ctrl-group > button {
  border: 1px solid #e5e5e5; /* Bordure */
}

/* Styles pour la boussole dans le groupe de contrôles maplibregl */
.maplibregl-ctrl-icon.maplibregl-ctrl-compass > .maplibregl-ctrl-compass-arrow {
  background-image: url("/css/icons/plan_boussole.svg"); /* Image de fond */
  margin-left: 40%; /* Marge à gauche */
}

/* Styles pour le bouton de zoom avant dans maplibregl */
.maplibregl-ctrl-icon.maplibregl-ctrl-zoom-in {
  background-image: url("/css/icons/plan_zoom_plus.svg"); /* Image de fond */
}

/* Styles pour le bouton de zoom arrière dans maplibregl */
.maplibregl-ctrl-icon.maplibregl-ctrl-zoom-out {
  background-image: url("/css/icons/plan_zoom_moins.svg"); /* Image de fond */
}

/* Styles pour l'entrée de recherche easy-autocomplete */
.easy-autocomplete input {
  box-shadow: 0; /* Pas d'ombre */
  border: none; /* Pas de bordure */
}

/* Styles pour la barre de navigation par défaut */
.navbar-default {
  background-color: #F4F5F5; /* Couleur de fond */
  border: none; /* Pas de bordure */
  width: auto; /* Largeur */
}

/* Styles pour la navigation latérale */
.sidebar .sidebar-nav.navbar-collapse {
  height: 100%; /* Hauteur de 100% */
  background-color: #F4F5F5; /* Couleur de fond */
  margin: 20px;
  margin-top: 10px;
  position: relative;
}

ul.nav li.nav_main{
  /* background-color: aqua; */
  height: 75px;
  display: flex;
  margin: 5px 0;
  width: 200px;
}

ul.nav > li.nav_main > a{
  width: 200px;
  padding-left: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transition: 0.25s ease-in-out;
  transition-delay: 0.15s;
}

ul.nav > li.nav_main > a:hover{
  background-color: lightgrey;
}

ul.nav > li.nav_main.active > a{
  background-color: lightgrey;
  transition-delay: 0.15s;
}

ul.nav > li.nav_main > a > img{
  height: 30px;
  width: 30px;
  margin-bottom: 15px;
}

ul.nav > li.nav_main > a > p{
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4;
}

ul.nav > li.nav_main > ul{
  position: absolute;
  top: 0px;
  left: 200px;
  background-color: #f4f5f5e9;
  width: 0px;
  min-height: 720px;
  overflow: hidden;   
  transition: all 0.25s ease-in-out;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

ul.nav > li.nav_main.active > ul{
  width: 400px;
  transition: all 0.25s ease-in-out;
  transition-delay: 0.15s;
}

li.nav_main.active > ul.nav-second-level > li{
  /* background-color: red; */
  width: 360px;
  margin: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
}

ul.nav-second-level > li{
  display: none;
} 


ul.nav-second-level > li > a{
  font-size: 18px;
  font-weight: 700;
  display: flex;
  font-family: Ubuntu;
  padding-left: 38px;
  line-height: 1.5;
  /* background-color: blue; */
}

ul.nav-second-level > li > ul.nav-third-level{
  /* background-color: gray; */
  font-size: 20px;
  margin-top: 5px;
  /* padding-left: 30px; */
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

ul.nav-second-level > li.active > ul.nav-third-level{
  max-height: 1000px;
  transition: all 0.6s ease-in-out;
}


.nav-second-level > li > a > img{
  min-width: 20px;
  min-height: 20px;
  margin-left: 5px;
  margin-right: 15px;
  background-image: url('./icons/checkbox_off.svg');
  background-size: cover;
}

.nav-second-level > li.active > a > img{
  background-image: url('./icons/checkbox_on.svg');
}


/* Styles pour la barre latérale */
.sidebar {
  background-color: #F4F5F5; /* Couleur de fond */
  margin-top: 0; /* Marge supérieure */
  padding: 0;
}

/* Styles pour les éléments de liste dans la barre latérale */
.sidebar ul li {
  font-family: "Roboto"; /* Police de caractère */
  font-size: 16px; /* Taille de police */
  font-weight: 400; /* Poids de la police */
  background-color: #F4F5F5; /* Couleur de fond */
  line-height: 36px; /* Hauteur de ligne */
}

/* Styles pour les liens dans les éléments de liste de la barre latérale */
.sidebar ul li a {
  border-bottom: 0px solid #CACCCD; /* Bordure inférieure */
}

/* Styles pour les liens dans la barre de navigation */
.nav li a {
  font-family: "Roboto"; /* Police de caractère */
  font-size: 14px; /* Taille de police */
  font-weight: 400; /* Poids de la police */
  padding-left: 0; /* Rembourrage à gauche */
}

/* Styles pour les images dans les éléments de liste de navigation */
.nav > li > a > img {
  float: left; /* Flottant à gauche */
  position: relative; /* Position relative */
  height: 18px; /* Hauteur */
  font-size: 18px; /* Taille de police */
}

/* Styles pour les liens dans la navigation */
.nav li a {
  color: #434A54; /* Couleur du texte */
}

/* Styles pour le nom de section dans les liens de navigation */
.nav li a .section-name {
  padding-left: 10px; /* Rembourrage à gauche */
}

/*ci-après un test pour modifier la vue des sections-name quand la souris passe dessus
.nav li a .section-name:hover {
font-size: 25px;
color: green;
} */

/* Styles pour l'image de section dans les liens de navigation */
.nav li a .section-image {
  float: left; /* Flottant à gauche */
  width: 30px; /* Largeur */
  vertical-align: middle; /* Alignement vertical */
  text-align: center; /* Alignement du texte */
}

/* Styles pour les images dans les éléments de section des liens de navigation */
.nav li a .section-image img {
  height: 20px; /* Hauteur */
  top: auto; /* Position automatique */
  left: auto; /* Position automatique */
  position: relative; /* Position relative */
}

/* --- LES BOUTONS --- */
#clearSubMenuBtn{
  margin-top: 10px;
  margin-left: 20px;
  width: 150px;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f4f5f5;
  transition: 0.3s;
}

#clearSubMenuBtn:hover{
  background-color: #d3d3d3;
}

/* --- BOUTONS 2D/3D ---*/
#DDD {
  top: 25px; /* Position à 25px du haut */
}
/*... quand actif et survolé*/
#DDD .btn.active,
#DDD button:hover {
  background-color: #073763; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
}

/*... styles des boutons*/
#DDD button {
  background-color: #fff; /* Couleur de fond */
  color: #073763; /* Couleur du texte */
  border: 1px solid #E5E5E5; /* Bordure */
  border-radius: 0; /* Rayon de bordure */
  box-shadow: none; /* Pas d'ombre */
}

/* --- ONGLETS GEOGRAPHIQUES ---*/
#campus {
  top: 25px; /* Position à 25px du haut */
  opacity: 1; /* Opacité */
}

/*...styles des boutons*/
#campus button {
  font-size: 18px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
  color: #073763; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  border: 1px solid #E5E5E5; /* Bordure */
}

/*... quand actif*/
#campus button.active {
  font-size: 18px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
  background-color: #073763; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
}

/*--- BOUTON IMPRIMER LA CARTE ---*/
/*--- BOUTON IMPRIMER LA CARTE ---*/
.btn-header  {
  position: absolute;
  top: 28%;
  right: 30px;
  /* background-color: red;   */
  padding: 10px;
}

.btn-imprimer {
  background-image: url('/css/icons/printer.svg');
  background-size: 30px 30px;
  background-color: #073763;
  z-index: 1000;
  padding: 6px 12px;
  padding-top: 24px;
  padding-right: 18px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  
}






/* Styles pour le conteneur de la barre de recherche */
/* Styles pour le conteneur de la barre de recherche */
.search-bar {
  display: flex; /* Affichage flex pour aligner les éléments côte à côte */
  flex-direction: row-reverse;
  align-items: center; /* Centrer verticalement les éléments */
}

/* Styles pour l'entrée de recherche */
#search-bar {
  max-width: 500px;
  min-width: 500px;
  border: none; /* Pas de bordure */
  border-radius: 15px; /* Rayon de bordure */
  box-shadow: none; /* Pas d'ombre */
  color: #073763; /* Couleur du texte */
  padding: 10px; /* Rembourrage */
  background-color: #fff; /* Couleur de fond */
  font-size: 14px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
  flex-grow: 1; /* L'entrée de recherche occupera tout l'espace disponible */
  margin-right: 10px; /* Marge à droite pour séparer la loupe */
  height: 60px; /* Hauteur de la searchbar (augmentée à 40px) */
} 



/* Styles pour les boutons primaires */
.btn-primary {
  background-color: #fff; /* Couleur de fond */
  color: #073763; /* Couleur du texte */
  border-color: #073763; /* Couleur de la bordure */
  border-radius: 5px; /* Rayon de bordure */
}

/* Styles pour le bouton de recherche avec l'ID searchButton */

#searchButton.btn-primary {
  background-color: #073763; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  height: 60px; /* Hauteur */
  width: 60px; /* Largeur */
  background-image: url('/css/icons/plan_loupe.svg'); /* Image de fond */
  background-position: 50% 50%; /* Position de l'image de fond */
  background-repeat: no-repeat; /* Pas de répétition de l'image de fond */
  background-size: 20px 20px; /* Taille de l'image de fond */
  margin-right: 10px;
}

/* Styles pour le bouton de recherche avec l'ID searchButton et la classe search-active */
#searchButton.btn-primary.search-active {
  background-image: url('/css/icons/cross_blanc.svg'); /* Image de fond */
}



/*...bouton de recherche survolé */
#searchButton:hover {
  background-color: #073763; /* Couleur de fond */
}

/* Styles pour les éléments de la liste déroulante */
.easy-autocomplete ul li {
  color: #073763; /* Couleur du texte */
  background-color: #fff; /* Couleur d'arrière-plan */
  float: none;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
}


/* .easy-autocomplete input {
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #7239AB;
  float: none;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;

} */



/* --- LA BARRE LATERALE AKA SIDEBAR --- */
.search-head .sidebar-search {
  padding: 0 0 20px 0; /* Rembourrage */
  border: none; /* Pas de bordure */
  line-height: 20px; /* Hauteur de ligne */
}

/*quand le bouton de recherche est en focus */
.sidebar-search .input-group-btn:focus {
  height: 33px; /* Hauteur */
}

/* quand les boutons sont en focus ou survolés */
.btn-primary:focus,
.btn-primary:hover {
  color: #fff; /* Couleur du texte */
  background-color: #073763; /* Couleur de fond */
  border: none; /* Pas de bordure */
  border-radius: 0; /* Rayon de bordure */
}

/* Styles pour la flèche dans le menu latéral */
.side-menu span.arrow {
  margin-top: 3%; /* Marge supérieure */
}

/* Styles pour l'icône de flèche active dans le menu latéral */
.sidebar .active > a > .fa.arrow::before {
  content: "\f107"; /* Contenu */
  color: #073763; /* Couleur */
}

/* Styles pour l'icône de flèche dans le menu latéral */
.sidebar .fa.arrow {
  margin-top: 10px; /* Marge supérieure */
}

/* Styles pour l'icône de flèche inactive dans le menu latéral */
.sidebar .fa.arrow::before {
  content: "\f105"; /* Contenu */
  color: #073763; /* Couleur */
}

/* Styles pour les éléments de la deuxième niveau de navigation */
.nav-second-level {
  padding-left: 0; /* Rembourrage à gauche */
}

/* Styles pour les liens actifs de la deuxième niveau de navigation */
.nav-second-level .side-menu li.active a {
  background-color: #fff; /* Couleur de fond */
}

/* Styles pour les liens actifs de la troisième niveau de navigation */
.nav-second-level .side-menu li.active .nav-second-level li.active a {
  background-color: #fff; /* Couleur de fond */
}

/* Styles pour les liens actifs de la quatrième niveau de navigation */
.nav-second-level .side-menu li.active .nav-second-level li.active .nav-third-level li.active a {
  background-color: #fff; /* Couleur de fond */
}

/* Styles pour les éléments de la troisième niveau de navigation */
.nav-third-level {
  padding-left: 15px; /* Rembourrage à gauche */
  background-color: #F4F5F5; /* Couleur de fond */
}

/* Styles pour les liens de la troisième niveau de navigation */
.sidebar .nav-third-level li a {
  padding: 10px 10px 10px 35px; /* Rembourrage */
  font-size: 14px; /* Taille de police */
  line-height: 18px; /* Hauteur de ligne */
}

/* Styles pour les cases à cocher */
.case {
  background-image: url('/css/icons/checkbox_off.svg'); /* Image de fond */
  background-repeat: no-repeat; /* Pas de répétition */
  background-size: 14px 14px; /* Taille de l'image de fond */
  background-position: 10px center; /* Position de l'image de fond */
}

/* Styles pour les cases à cocher actives */
.case.active {
  background-image: url('/css/icons/checkbox_on.svg'); /* Image de fond */
  background-color: #fff; /* Couleur de fond */
}

/* Styles pour les cases à cocher actives dans un menu déroulant */
.collapse .nav-second-level li.active .case.active {
  background-image: url('/css/icons/checkbox_on.svg'); /* Image de fond */
  background-color: #fff; /* Couleur de fond */
}


/* Styles pour les liens actifs */
a.active {
  background-color: #fff; /* Couleur de fond */
}

/* Styles pour le bouton de suppression des filtres dans la barre latérale */
.sidebar-remove-filters {
  width: 100%; /* Largeur de 100% */
  margin-top: 20px; /* Marge supérieure */
}

/* Styles pour le bouton de suppression des filtres dans la barre latérale */
.sidebar-remove-filters #btnRemovefilters {
  width: 100%; /* Largeur de 100% */
  font-size: 18px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
}

/* Styles pour les boutons radio */
.leaf {
  background-image: url('/css/icons/radio_off.svg'); /* Image de fond */
  background-size: 14px 14px; /* Taille de l'image de fond */
  background-color: #F4F5F5; /* Couleur de fond */
  background-repeat: no-repeat; /* Pas de répétition */
  background-position: 10px 50%; /* Position de l'image de fond */
}

/* Styles pour les boutons radio actifs */
.leaf.active {
  background-color: #fff; /* Couleur de fond */
  background-image: url('/css/icons/radio_on.svg'); /* Image de fond */
}


/* --- LES POPUPS MAPLIBRE --- */
/* Styles pour la popup*/
.maplibregl-popup {
  opacity: 1; /* Opacité */
  top: 40px; /* Position depuis le haut */
  max-width: 550px; /* Largeur maximale */
  max-height: 400px; /* Hauteur maximale */
}


/* Styles pour la pointe de la popup lorsque ancrée en haut */
.maplibregl-popup-anchor-top > .maplibregl-popup-tip {
  border-bottom-color: #fff; /* Couleur de la bordure inférieure */
}

/* Styles spécifiques pour la popup de la carte avec la classe popup-bati */
.maplibregl-popup.popup-bati,
.maplibregl-popup.popup-bati * {
  pointer-events: none; /* Désactiver les événements pointeur pour les éléments de la popup */
}

/*images*/
.maplibregl-popup img {
  height: 225px; /* Hauteur */
}

/* Styles pour le contenu de la popup de la carte */
.maplibregl-popup-content {
  text-align: center;
  box-shadow: none; /* Pas d'ombre */
  border-radius: 0; /* Pas de bordure arrondie */
  font-size: 14px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
  line-height: 16px; /* Hauteur de ligne */
  color: #434A54; /* Couleur du texte */
}

/*titres*/
.maplibregl-popup-content > h1 {
  text-align: left;
  background-color: #434A54; /* Couleur de fond */
  font-size: 14px; /* Taille de police */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 500; /* Poids de la police */
  padding: 10px;
  color: #fff; /* Couleur du texte */
  border-radius: 0; /* Pas de bordure arrondie */
}

/*description*/
.maplibregl-popup-content .description {
  padding: 10px;
}

/*paragraphes*/
.maplibregl-popup-content p {
  font-size: 14px; /* Taille de police */
}

/* LES BOUTONS DE CONTROLES MAPLIBRE */
/* Styles pour le contrôle de géolocalisation de mapbox */
.maplibregl-ctrl-icon.maplibregl-ctrl-geolocate {
  background-image: url("/css/icons/plan_localisation.svg"); /* Image de fond */
  background-size: 20px 20px; /* Taille de l'image de fond */
  background-repeat: no-repeat; /* Pas de répétition */
  background-position: center center; /* Position de l'image de fond */
  box-shadow: none; /* Pas d'ombre */
  border: 1px solid #e5e5e5; /* Bordure */
}

/* Styles pour le conteneur d'attribution */
.attribution-container {
  background-color: rgba(255,255,255, 0.5); /* Couleur de fond avec transparence */
  position: absolute; /* Position absolue */
  bottom: 0; /* Position depuis le bas */
  right: 0; /* Position depuis la droite */
  display: inline-block; /* Affichage en ligne */
  z-index: 9999; /* Z-index */
}

/* Styles pour le footer */
footer.footer {
  padding-top: 30px; /* Rembourrage en haut */
  padding-bottom: 0; /* Pas de rembourrage en bas */
  background-color: #434A54; /* Couleur de fond */
  font-family: "Roboto"; /* Police de caractère */
  font-weight: 400; /* Poids de la police */
  color: #F4F5F5; /* Couleur du texte */
  margin-top: 0; /* Pas de marge supérieure */
  z-index: 99; /* Z-index */
}

/* Styles pour le bloc de l'adresse Rennes 2 */
#block-blocadresserennes2 {
  background-color: #434A54; /* Couleur de fond */
  color: #F4F5F5; /* Couleur du texte */
  padding-top: 6px; /* Rembourrage en haut */
  padding-bottom: 6px; /* Rembourrage en bas */
  margin-top: 20px; /* Marge supérieure */
}

/* Styles pour les informations de contact dans le footer */
.footer .block .infos-contact .logo img {
  height: 77px; /* Hauteur */
  float: left; /* Flottant à gauche */
  margin-top: 7px; /* Marge supérieure */
}

/* Styles pour les coordonnées dans le footer */
.footer .block .infos-contact .coordonnees {
  display: inline-block; /* Affichage en ligne */
  margin-left: 10px; /* Marge à gauche */
}

/* Styles pour les éléments de la liste d'accès directs dans le footer */
footer.footer #block-accesdirects ul li {
  text-align: left; /* Alignement du texte à gauche */
}

/* Styles pour les liens de la liste d'accès directs dans le footer */
footer.footer #block-accesdirects ul a {
  padding: 5px 0; /* Rembourrage */
  font-size: 16px; /* Taille de police */
}

/* Styles pour les icônes de réseaux sociaux dans le footer */
footer.footer #block-suivez-nous ul li a.ext .fa,
footer.footer #block-suivez-nous ul li a .fa {
  color: #434A54; /* Couleur du texte */
  background-color: #ccd1d9; /* Couleur de fond */
  border-radius: 5em; /* Rayon de bordure */
  height: 38px; /* Hauteur */
  width: 38px; /* Largeur */
  font-size: 20px; /* Taille de police */
  padding-top: 10px; /* Rembourrage en haut */
}

/* Styles pour les icônes de réseaux sociaux spécifiques */
.fa-instagram::before {
  content: "\f16d"; /* Contenu */
}

.fa-twitter::before {
  content: "\f099"; /* Contenu */
}

.fa-linkedin::before {
  content: "\f0e1"; /* Contenu */
}

.fa-facebook-f::before, .fa-facebook::before {
  content: "\f09a"; /* Contenu */
}

/* Styles pour le bloc du footer en bas */
#block-bootstrap-rennes2-less-footer {
  background-color: #292E34; /* Couleur de fond */
  color: #F4F5F5; /* Couleur du texte */
  clear: both; /* Réinitialisation des flottants */
}


/* Styles pour les liens dans le bloc du footer en bas */
footer.footer #block-bootstrap-rennes2-less-footer a {
  color: #F4F5F5;
  background-color: #292E34;
}

/* Styles pour les liens de la liste dans le bloc du footer en bas */
#block-bootstrap-rennes2-less-footer ul li a {
  color: #F4F5F5;
  font-size: 14px;
  background-color: #292E34;
  text-transform: uppercase;
  padding: 0;
}

/* Styles pour les liens lors du survol dans le bloc du footer en bas */
footer.footer #block-bootstrap-rennes2-less-footer a:hover {
  color: #F4F5F5;
  background-color: #292E34;
  text-decoration: underline;
}

/* Styles pour les éléments de liste dans le bloc du footer en bas */
#block-bootstrap-rennes2-less-footer ul li {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Styles pour le menu empilé */
.nav-stacked {
  background-color: #F4F5F5;
}

/* Styles pour le bouton de navigation de la barre de navigation */
button.navbar-toggle {
  background-color: #F4F5F5;
}

/* Styles pour les barres du bouton de navigation */
.navbar-toggle .icon-bar {
  background-color: #000;
}

/* --- LES MEDIAS QUERY --- */

@media (max-width: 1010px){
  #search-bar{
    max-width: 400px;
    min-width: 400px;
    margin-left: -65px;
  }
  #searchButton.btn-primary {
    position: relative;
    right: 60px;
  }
  .header-main h1{
    position: relative;
    left: -35px;
    width: 150px;
  }
  .logo img{
    margin-left: 0%;
  }
  .btn-header{
    right: 15px;
  }
}

@media (max-width: 850px) {
  #search-bar{
    max-width: 250px;
    min-width: 250px;
    margin-left: -65px;
  }
}

@media (max-width: 800px) {
  header, .color-head, .fond-head{
    height: 210px;
  }
  .header-main{
    position: relative;
    width: 80%;
    left: -70px;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  .logo img{
    position: relative;
    left: -30px;
  }
  .header-main h1{
    position: relative;
    left: 20px;
  }
  .btn-header{
    position:absolute;
    right: 5px;
    top: 28px;
  }

}



/* Affichage pour les écrans de petite taille */
@media (max-width: 750px) {
  #wrapper {
      max-height: none;
      height: auto;
  }
  #page-wrapper {
      margin-left: 0;
      height: auto;
  }
  .navbar-default {
      width: 100vw;
      margin-left: 0;
      clear: both;
  }
  .sidebar .sidebar-nav.navbar-collapse {
      padding-left: 0;
  }
  .side-menu li {
      padding-left: 20px;
  }
  footer.footer {
      display: none;
  }
  .header-container .image-fond {
      background-size: auto 100%;
  }
  .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
  .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
  .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
  .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      bottom: 0;
      margin: 0 12px;
  }
  .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
  .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
      opacity: 0;
      filter: "alpha(opacity=0)";
      -ms-filter: "alpha(opacity=0)";
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
      width: auto;
      height: 16px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
  }
  .mCSB_scrollTools .mCSB_draggerContainer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
  }
  nav#block-nosportails {
      margin-left: 0;
      width: auto;
  }
  #campus {
      position: relative;
      top: auto;
      left: 30%;
      padding-left: 8%;
      background-color: #F4F5F5;
      width: 100%;
  }
 
  .maplibregl-ctrl-top-left {
      top: 40px;
  }
  .maplibregl-ctrl-top-right {
      margin-top: 40px;
  }
}

/* Affichage pour les écrans de grande taille */
@media (min-width: 992px) {
  /* Cacher le dragger de la barre de défilement */
  .mCSB_dragger {
      display: none;
  }
}

/* Paramétrages des éléments imprimés ou non */
@media print {
  header, nav, .btn-group  {
    display : none;
  }
  #page-wrapper {
    margin : 0;
    padding: 0;
  }
  .maplibregl-ctrl-bottom-left, .maplibregl-ctrl.maplibregl-ctrl-scale {
    bottom: 5%;
  }
  .attribution-container {
    bottom:0;
  }
  @page {
    size: landscape;
  }
}